<h2>Snake and Ladder Game</h2>
<div class=" container justify-content-center p-5 my-3">
  <app-player1 (emitter1)="p1=$event"></app-player1>
    <table class="table table-striped center">
      <tr *ngFor="let row of arr">
        <td *ngFor="let item of row" [class.red]="snackcheck(item)" [class.green]="laddercheck(item)">
              <div class=" text-center" [class.pos1]="p1pos(item)" [class.pos2]="p2pos(item)" [class.samepos]="samepos(item)">{{item}}</div>
        </td>
      </tr>
    </table>
    
    <!-- //class="col-sm-12 text-center" -->
    <!-- [class.pos1]="p1pos(item)" [class.pos2]="p2pos(item)" -->
    <app-player2 (emitter2)="p2=$event"></app-player2>
</div>
   